body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

h2 {
  color: #999;
}

img {
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  max-height: 70vh;
  height: auto;
  display: block;
  margin: 20px auto;
  object-fit: contain;
}

/* 响应式设计 */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }
  
  img {
    width: 100%;
  }
}
